exportPattern("^[[:alpha:]]+")
import("ggplot2", "tseries", "zoo", "MASS", "urca", "xts", "quantmod", "vars", "dplyr", "glmnet")
importFrom("grid", grid.newpage, pushViewport, viewport, grid.layout)
